@tailwind base;
@tailwind components;
@tailwind utilities;



/* Enhancements for responsive design */
@media (min-width: 768px) {
  .container {
    max-width: 1024px; /* Optimized container width for readability */
  }
}

/* Improved visual balance for text */
.text-balance {
  text-wrap: balance;
}

.HomepageButton {
  width: auto;
  padding: 10px 20px; 
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #32CD32, #D7F0D6, #32CD32, #32CD32, #D7F0D6, #32CD32);
  background-size: 250%;
  background-position: left;
  color: #90E190; /* Text color */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.HomepageButton::before {
  position: absolute;
  content: "DEMO CONCIERGE";
  color: white; /* Text inside the before element */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(38, 33, 33, 0.869); /* Background of the before pseudo-element */
  background-size: 200%;
}

.HomepageButton:hover {
  background-position: right;
  transition-duration: 1s;
}

.HomepageButton:hover::before {
  background-position: right;
  transition-duration: 1s;
}